@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");


:root {
  --white: #fff;
  --red: #fa3821;
  --darkGrey: #404040;
  --blue: #4058f2;
  --lightgrey: #ababab ;
  --primary-color: linear-gradient(
    90deg,
    rgba(42, 87, 170, 1) 0%,
    rgba(92, 35, 139, 1) 36%,
    rgba(122, 35, 120, 1) 67%,
    rgba(196, 20, 106, 1) 100%
  );
  --secondary-color: ;
  --primary-btn-color: #fa3821;
  --secondary-btn-color: transparent;
  --padding-XXS: 0.5rem;
  --padding-XS: 1rem;
  --padding-S: 1.2rem;
  --padding-M: 1.5rem;
  --padding-L: 2rem;
  --padding-XL: 3rem;
  --gap-S: 1.2rem;
  --btn-radius: 2rem;
  --btn-padding: 0.5rem 1rem;
}

* {
  margin: 0;
  padding: 0;
}



/*-------- GENERAL -------- */

html,
body {
  height: 100%;
  background: var(--primary-color);
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
}

header,
.hero,
footer {
  padding: 1rem 2rem;
}

.part-about, .part-features,
.part-testimonial{

    padding-top: 4rem;
    padding: 5rem;
}

.part-about,
.part-testimonial{
    background-color: var(--white);
}

main {
  flex-grow: 1;
}

.hero-title,
h5 {
  color: var(--white);
}


/*-------- HEADER PART-------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links,
.footer-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  padding-bottom: 0.2rem;
}

.nav-item:hover a {
  color: yellow;
  border-bottom: 1px solid yellow;
}

.logo {
  height: auto;
  width: 10rem;
}

header a {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.primary-button,
.secondary-button {
  height: fit-content;
}

.primary-button {
  background-color: var(--primary-btn-color);
  border-radius: var(--btn-radius);
  border: none;
  padding: var(--btn-padding);
  color: var(--white);
}

.secondary-button {
  background-color: var(--secondary-btn-color);
  border-radius: var(--btn-radius);
  border: 1px solid var(--white);
  padding: var(--btn-padding);
  color: var(--white);
}

.primary-button:hover,
.secondary-button:hover {
  background-color: var(--white);
  color: var(--red);
}

.img-hero {
  width: 30%;
}

.info-hero {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

/*-------- ABOUT PART-------- */

.about-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 50%;
  text-align: justify;
}

.about-title {
  color: var(--darkGrey);
  font-weight: bolder;
}

.about-info-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-img {
  width: 35%;
  height: fit-content;
}

.testimonial-word,
.appsland-text {
  color: var(--blue);
}

/*--------FEATURES PART-------- */

.part-features {
  color: var(--white);
}


/*--------TESTIMONIAL PART-------- */

.part-testimonial {
   
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: var(--gap-S);
}

.testimonial-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.testimonial-header p{
    padding-bottom: 2rem;
}

.testimonial-box{
    display: flex;
flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-S);
}

.testimonial-card img {
width: 85%;
}

.testimonial-info{
    text-align: center;
}

.testiominal-name{
    font-weight: bolder;
}




/*--------FOOTER-------- */




footer {
  background-color: var(--darkGrey);
  color: var(--lightgrey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-S);
  text-align: center;
  font-size: 0.7rem;

}

.footer-items{
  font-size: 0.7rem;
}

.footer-links{
    font-size: 0.7rem;
    justify-content: center;
}

.footer-links a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  padding-bottom: 0.2rem;
}

.footer-icons{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    align-items: center;
}

